<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ncu.safe">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppCompatTheme">
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ProtocolActivity" />
        <activity android:name=".ui.GuideActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.PhoneLostProtectActivity" />
        <activity android:name=".ui.FlowsProtectorActivity" />
        <activity android:name=".ui.FlowsCalibrationActicity" />
        <activity android:name=".ui.FlowsStatisticsActivity" />
        <activity android:name=".ui.CommunicationProtectorActivity" />
        <activity android:name=".ui.CommunicationWhiteBlackSetActivity" />
        <activity android:name=".ui.CommunicationNumberQuery" />
        <activity android:name=".ui.CommunicationInterceptionSet" />
        <activity android:name=".ui.AppManagerAcitvity" />
        <activity android:name=".ui.SystemQuickenActivity" />
        <activity android:name=".ui.BackUpsActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.RegistActivity" />
        <activity android:name=".ui.TouchImageViewActivity" />
        <activity android:name=".ui.ShareActivity"/>

        <service
            android:name=".service.UpdateAppService">
            <intent-filter>
                <action android:name="edu.ncu.yang.myservice.update" />
            </intent-filter>
        </service>
        <service
            android:name=".service.FlowsRecordService"
            android:enabled="true"
            android:process="system">
            <intent-filter>
                <action android:name="edu.ncu.yang.myservice.flows.recorder" />
            </intent-filter>
        </service>
        <service
            android:name=".service.FLoatDesktopWindow"
            android:enabled="true"
            android:process="system">
            <intent-filter android:priority="1000">
                <action android:name="edu.ncu.yang.myservice.float.window.show" />
                <action android:name="edu.ncu.yang.myservice.float.window.update" />
                <action android:name="edu.ncu.yang.myservice.float.window.dismiss" />
            </intent-filter>
        </service>
        <service android:name=".service.AppRubbishCleanService" />
        <service android:name=".service.InnerMemoryCleanService" />

        <receiver android:name=".receiver.RelifeReceiver">
            <intent-filter>
                <action android:name="edu.ncu.yang.myreceiver.relife" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.PhoneRestartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.CallReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
